body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding-top: 20px;
}

.card-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.1fr;
    grid-gap: 20px;

    background-image: url("wallpaper-background.jpg");
    background-repeat: repeat;
    background-size: 100%;
    height: 1250px;
    border-radius: 15px;
    /* background-color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-title {
    /* margin: 15px 10px; */
    margin-top: 20px;
    grid-column: 2 / 3;
    border-radius: 16px;
    background: #ecf0f3;
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #ffffff inset;
    height: 80px;

}

.card-title .title {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}

.block-radio {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-gap: 20px;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.block-radio .question {
    grid-column: 1 / 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;

    height: 150px;
    border-radius: 16px;
    background: #ecf0f3;
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #ffffff inset;
}

.block-radio .question .header {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;

}

.block-radio .question .bodyr {
    margin-left: 25px;
    margin-top: 10px;
}

.block-radio .question .footer {
    margin-left: 25px;
    margin-right: 25px;

}

.block-select {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.block-select .questions {
    grid-column: 1 / 2;
    height: 140px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;

    border-radius: 16px;
    background: #ecf0f3;
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #ffffff inset;
}

.block-select .questions .headers {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;

}

.block-select .questions .bodys {
    margin-left: 25px;
    margin-top: 10px;
}

.block-select .questions .footers {
    margin-left: 25px;
    margin-right: 25px;
}


.block-send-resp {
    grid-row: 5 / 6;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.block-sen-resp-index {
    grid-row: 5 / 6;
    grid-column: 2 / 3;

    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.bloc-result {
    background-color: gray;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}

.text-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: Arial;
}

.circulo {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}


.block-check {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.block-check .questionc {
    grid-column: 1 / 2;
    height: 160px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;

    border-radius: 16px;
    background: #ecf0f3;
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #ffffff inset;
}

.block-check .questionc .headerc {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;

}

.block-check .questionc .bodyc {
    margin-left: 25px;
    margin-top: 10px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.block-check .questionc .footerc {
    margin-left: 25px;
    margin-right: 25px;
}

.block-score {
    display: none;
    grid-column: 3 / 4;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    background-color: white;
    height: 500px;
    border-radius: 16px;
}

.block-score .title-score{
    grid-column: 2/3;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    margin-top: 20px;
    text-align: center;
}

.block-score .footer-score{
    grid-row: 2/3;
    grid-column: 2/3;

    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    margin-top: 20px;
    text-align: center;
}

/* AUTO GENERADO */
.wrapper {
    margin: 8px 0;
}

.wrapper-success {
    margin: 8px 0;
    width: 95%;
    border-radius: 10px;
    background-color: #76d275;
}

.wrapper-danger {
    margin: 8px 0;
    width: 95%;
    border-radius: 10px;
    background-color: #ff6f60;
}

.state {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1e-5;
    pointer-events: none;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #444;
}

.label-success {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #444;
}

.label-danger {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #444;
}

.text {
    margin-left: 16px;
    opacity: .8;
    transition: opacity 0.2s linear, transform 0.2s ease-out;
}

.state:checked ~ .label .indicator::after {
    transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
    opacity: 0;
}

.state:focus ~ .label .text {
    transform: translate3d(8px, 0, 0);
    opacity: 1;
}

.label:hover .text {
    opacity: 1;
}

.select-css {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #444;
    width: 95%;
    box-sizing: border-box;
    border: 1px solid #ecf0f3;
    border-radius: 16px;
    background: #ecf0f3;
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #ffffff inset;
}

.select-css-success {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #444;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #ecf0f3;
    border-radius: 16px;
    background: #76d275;
    box-shadow: 4px 4px 4px 0 #76d275 inset, -4px -4px 4px 0 #76d275 inset;
}


.select-css-danger {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #444;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #ecf0f3;
    border-radius: 16px;
    background: #ff6f60;
    box-shadow: 4px 4px 4px 0 #ff6f60 inset, -4px -4px 4px 0 #ff6f60 inset;
}


.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
    cursor: pointer;
}

.select-css:focus {
    border-color: #aaa;
    cursor: pointer;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

.button {
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 0;
    width: 180px;
    height: 50px;
    border: 4px solid #888888;
    outline: none;
    background-color: #f4f5f6;
    border-radius: 40px;
    box-shadow: -6px -20px 35px #ffffff, -6px -10px 15px #ffffff, -20px 0 30px #ffffff, 6px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.13s ease-in-out;
    cursor: pointer;
}
.button:active {
    box-shadow: none;
}
.button:active .button__content {
    box-shadow: none;
}
.button:active .button__content .button__text,
.button:active .button__content .button__icon {
    transform: translate3d(0px, 0px, 0px);
}
.button__content {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: inset 0 -8px 0 #dddddd, 0 -8px 0 #f4f5f6;
    border-radius: 40px;
    transition: 0.13s ease-in-out;
    z-index: 1;
}

.button__text {
    position: relative;
    transform: translate3d(0px, -4px, 0px);
    margin: 0;
    align-self: end;
    grid-column: 1 / 5;
    grid-row: 2;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #6d6d6d;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.13s ease-in-out;
}
